<!DOCTYPE html>
<html lang="en">

<head id="head">
  <meta charset="utf-8" />
  <title id="title">
    <super /> | Loris Cro's Blog
  </title>
  <meta name="description" content="$page.custom.get('description','Loris Cro\'s Blog')">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@croloris">
  <meta name="twitter:image" content="https://kristoff.it/logo.png">
  <meta name="twitter:author" content="@croloris">
  <meta name="twitter:description" content="$page.custom.get('description','Loris Cro\'s Blog')">
  <meta name="twitter:title" content="$page.title">
  <meta property="og:title" content="$page.title">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://kristoff.it/logo.png">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@700;900&display=swap"
    rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/main.css">
  <link type="text/css" rel="stylesheet" href="/highlight.css">
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script defer type="text/javascript" src="https://api.pirsch.io/pirsch.js" id="pirschjs"
    data-code="CnorXJVVDmhCee3FBtXSQISdHIUmqp3o"></script>
  <super />
</head>

<body>
  <div id="content">
    <super />
  </div>
</body>

</html>