{{ define "head" }}
  <title>Loris Cro's Blog</title>
  <meta name="descrxiption" content="">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@croloris">
  <meta name="twitter:image" content="https://kristoff.it/logo.png">
  <meta name="twitter:author" content="@croloris">
  <meta name="twitter:description" content="">
  <meta name="twitter:title" content="Loris Cro's Blog">
  <meta property="og:title" content="Loris Cro's Blog">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://krisoff.it/logo.png">
{{ end }}
{{ define "main" }}
  {{ partial "small-header.html" }}
  {{ partial "post-list.html" . }}
{{ end }}
