 ol,
 ul {
   list-style-position: outside;
 }

 dt {
   font-weight: bold;
 }

 li {
   margin-bottom: calc(1.75rem / 2);
 }

 code .bold {
   font-weight: bold;
 }

 .twitter-tweet {
   align-self: center;
 }

 h1,
 h2,
 h3,
 h4,
 h5 {
   text-rendering: optimizeLegibility;
   margin-bottom: 0;
 }

 @font-face {
    font-family: 'Bebas Neue';
    src:
        local('Bebas Neue'),
        url(BebasNeue-Regular.ttf) format('truetype');
}

 @font-face {
    font-family: 'Protest Strike';
    src:
        local('Protest Strike'),
        url(ProtestStrike-Regular.ttf) format('truetype');
}

 @font-face {
    font-family: 'Miracle Mono';
    src:
        local('Miracle Mono'),
        url(MiracleMono-Regular.otf) format('opentype');
}

 @font-face {
    font-family: 'JetBrains Mono';
    src:
        local('JetBrains Mono'),
        url(JetBrainsMono[wght].ttf) format('truetype');
}
 @font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    src:
        local('JetBrains Mono'),
        url(JetBrainsMono-Italic[wght].ttf) format('truetype');
}
 @font-face {
    font-family: 'Merriweather';
    src:
        local('Merriweather'),
        url(Merriweather.ttf) format('truetype');
}
 @font-face {
    font-family: 'Merriweather';
    font-style: italic;
    src:
        local('Merriweather'),
        url(Merriweather-Italic.ttf) format('truetype');
}


 h1 {
   font-family: 'Protest Strike', sans-serif;
   font-weight: 900;
   font-size: 2.5rem;
   line-height: 1.1;
 }

 h2 {
   font-family: 'Bebas Neue', sans-serif;
   font-size: 2.5rem;
 }

 h4 {
   text-transform: uppercase;
   letter-spacing: 0.140625em;
 }

 hr {
   width: 100%;
 }

 body {
   display: flex;
   flex-direction: column;
   align-items: center;
   word-wrap: break-word;
 }

 html {
   font: 100%/1.75 'Merriweather', 'Georgia', serif;
   box-sizing: border-box;
   overflow-y: scroll;
 }

 #content {
   max-width: 42rem;
   width: 100vw;
   padding: 2.625rem 1.3125rem;
 }

 div.highlight {
   border-radius: 6px;
 }

 pre {
   color: white;
   border-radius: 6px;
   margin: 0;
   padding: 0;
   font-size: 0.85rem;
   overflow: auto;
 }

 code {
   font-family: 'JetBrains Mono', monospace;
   border-radius: 4px;
   border: 1px solid #d3d3d388;
   padding: 3px;
   font-size: 1rem;
 }

 pre>code {
   border: none;
   padding: 15px;
   font-size: 1rem;
   display: inline-block;
   box-sizing: border-box;
   min-width: 100%;
   white-space: pre; 
   overflow-x: scroll;
 }

 blockquote {
   font-family: 'Miracle Mono', sans-serif;
   margin-left: 0;
   margin-right: 1.75rem;
   margin-top: 0;
   margin-bottom: 0;
   padding-bottom: 0;
   padding-left: 1rem;
   padding-right: 0;
   padding-top: 0;
   color: hsla(0, 0%, 0%, 0.79);
   border-left: 0.2rem solid hsla(0, 0%, 0%, 0.9);
 }

 blockquote p {
   margin: 0;
   margin-bottom: 15px;
 }
 blockquote p:last-child {
   margin-bottom: 0px;
 }

 #footnotes p {
   display: inline;
   margin-right: 5px;

 }

 #footnotes,
 #footnotes code {
   font-size: 0.8rem;
 }

 @media (prefers-color-scheme:dark) {
   code {
     color: #ccc;
   }

   body {
     background: #111;
     color: #bbb
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   strong {
     color: #e8e8e8
   }

   hr {
     border-top: 1px solid #797979
   }

   a {
     color: #8bc2e7
   }

   blockquote {
     border-color: #fff;
     color: inherit
   }

   .time {
     color: #8bc2e7 !important
   }




   pre,
   code {
     direction: ltr;
   }

   pre>code {
     overflow: auto;
     padding: 0.5rem;
     background: #f8f8f8;
     color: black;
     line-height: normal;
   }

   pre {
    scrollbar-color: yellow #111;
   }


   .code {
     font-family: monospace;
     font-size: 0.8rem;
   }


 }

 .highlight {
   background-color: #1E1E1E;
   color: #D4D4D4;
 }

 p:empty {
   margin: 0;
 }

 * {
   box-sizing: inherit;
 }

 *:before {
   box-sizing: inherit;
 }

 *:after {
   box-sizing: inherit;
 }

 .post-link {
   display: block;
   font-family: 'Protest Strike', sans-serif;
   font-size: 1.8rem;
   line-height: 2.5rem;
   text-decoration-thickness: 0.12rem;
 }

 .post-byline {
   font-size: 0.83255rem;
   line-height: 1.75rem;
   display: block;
   margin-bottom: 1.75rem;
   margin-top: 0;
   font-style: italic;
 }

 #post-body p:nth-of-type(1) {
   margin-top: 0;
 }

 #post-body {
   margin-top: 1.75rem;
   display: flex;
   flex-direction: column;
 }

 #post-description {
   margin-top: 1.75rem;
   text-align: right;
   font-style: italic;
   font-weight: 100;
 }

 h1:nth-of-type(1) {
   margin-bottom: 0;
 }

 img {
   height: auto;
   max-width: 100%;
 }


 figure img {
   display: block;
   max-width: 100%;
   width: 100vw;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
   margin-bottom: 10px;

 }

 figure {
   margin: 0;
   padding: 0;
   margin-bottom: 1.75rem;
 }

 figcaption {
   text-align: center;
   font-size: 0.9rem;
 }

 iframe {
   align-self: center;
 }

 .video-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
 }

 .video-container iframe,
 .video-container object,
 .video-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }

 #header {
   font-size: 1.7rem;
   margin: 0;
   padding: 0;
 }

 .reset-a,
 .reset-a:hover,
 .reset-a:visited,
 .reset-a:focus,
 .reset-a:active {
   text-decoration: none;
   color: inherit;
   outline: 0;
 }

 #prev-next {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 @media screen and (min-width:500px) {
   p {
     text-align: justify;
   }
 }




 pre>code {
   background: #1e1e1e;
   color: #f8f8f2;
   line-height: normal;
 }


 figcaption {
   font-style: italic;
 }


 p>img:only-child {
   display: block;
   margin: auto;
 }

 video {
   max-width: 100%;
 }