  <center>
    <h1 id="header"><a class="reset-a" href="/">Loris Cro</a></h1>
    <small><i>Personal Website</i></small>
    <div style="display:flex; justify-content:center; font-size:small;">
      <a href="/">About</a>
       &nbsp; • &nbsp;
      <a href="https://twitter.com/croloris">Twitter</a>
       &nbsp; • &nbsp;
      <a href="https://twitch.tv/kristoff_it">Twitch</a> 
       &nbsp; • &nbsp;
      <a href="https://youtube.com/c/ZigSHOWTIME/">YouTube</a>
       &nbsp; • &nbsp;
      <a href="https://github.com/kristoff-it">GitHub</a>
    </div>
  </center>